<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>RGDI Store - Cadastro de Usuários</title>
    <link rel="icon" href="/image/favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="fa-solid fa-bars"></i>
					</button>				
					<a class="navbar-brand navbar-toggle pull-left" href="#">Home</a>
				</div>
				<div class="navbar-header-right">
					<span th:if="${loggedInUser != null}" 
				          th:text="|Bem-vindo, ${loggedInUser.nome} ${loggedInUser.grupo.descricao|">
				    </span>
				    <form th:action="@{/logout}" method="post">
				        <button type="submit" class="btn btn-dark">
				            <i class="fa-solid fa-right-from-bracket"></i> Logout
				        </button>
				    </form>
				</div>
			</div>
		</nav>
	</header>
	
	<div class="layout-main">
	
	    <aside>
	        <nav class="sidebar  sidebar-open">
	            <ul class="nav nav-pills">
	                <li class="nav-item"><a class="nav-link " href="/auth"> <i class="fa-solid fa-house"></i> <span>Home</span>
	                </a></li>
	            </ul>
	
	            <ul class="nav nav-pills">
	                <li class="nav-item"><span class="nav-link active">Usuários</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/usuarios/cadastrar"> <i class="fa-solid fa-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/usuarios/listar"> <i class="fa-solid fa-table-list"></i>
							<span>Listar </span>
					</a></li>
	            </ul>
	
	            <ul class="nav nav-pills">
	                <li class="nav-item"><span class="nav-link active">Produtos</span></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="#"> <i class="fa-solid fa-plus"></i> <span>Cadastrar </span>
	                </a></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="#"> <i class="fa-solid fa-table-list"></i> <span>Listar </span>
	                </a></li>
	            </ul>	
	        </nav>
	    </aside>
	
	    <section class="layout-content">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="fa-solid fa-caret-right"></i>
	                            <span>Cadastrar Funcionários</span>
	                        </li>
	                    </ul>
	                </div>
	                <a class="btn btn-primary btn-md" href="/usuarios/listar" role="button">
	                    <span class="fa-solid fa-table-list" title="Cadastro" aria-hidden="true"></span>
	                    <span>Listar Funcionários</span>
	                </a>
	            </nav>
	        </div>
			
			<!-- form-group: removida no bootstrap 5xxx. No lugar posso usar: "mb-3". Usar criar meu "css próprio" -->
	        <div class="container" id="cadastro">
			    <!--  <form id="userForm" onsubmit="formUser(event)"> -->
			    <form th:action="@{/usuarios/salvar}" th:object="${dto}" method="POST">
			        <div class="row">
					    <div class="mb-3 col-md-5">
					        <label for="nome">Nome</label>
					        <input type="text" class="form-control" id="nome" name="nome"
					        th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" th:value="*{nome}" />
					        <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:text="${#fields.errors('nome')}">
					            
					        </div>
					    </div>
					    <div class="mb-3 col-md-3">
					        <label for="cpf">CPF</label>
					        <input type="text" class="form-control" id="cpf" name="cpf" required aria-required="true" 
					        th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" th:value="*{cpf}"/>
					     <!-- <div class="invalid-feedback" id="cpfError" style="display: none;"> -->
					         <div class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}" th:text="${#fields.errors('cpf')}">
					            
					        </div>
					    </div>
					</div>
					<div class="row">
					    <div class="mb-3 col-md-6">
					        <label for="email">Email</label>
					        <input type="email" class="form-control" id="email" name="email" required aria-required="true" 
					        th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" th:value="*{email}"/>
					        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')}">
					            
					        </div>
					    </div>
					</div>
					<div class="row">
					    <div class="mb-3 col-md-3">
					        <label for="senha">Senha</label>
					        <input type="password" class="form-control" id="senha" name="senha" required aria-required="true" 
					        th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid' : ''" th:value="*{senha}"/>
					        <div class="invalid-feedback" th:if="${#fields.hasErrors('senha')}" th:text="${#fields.errors('senha')}">
					            
					        </div>
					    </div>
					    <div class="mb-3 col-md-3">
					        <label for="confirmasenha">Confirma Senha</label>
					        <input type="password" class="form-control" id="confirmasenha" name="confirmasenha" required aria-required="true" />					        
					        <div class="invalid-feedback" id="confirmSenhaError" style="display: none;">
					            
					        </div>
					    </div>
					</div>
					<div class="row">
					    <div class="mb-3 col-md-6">
					        <label for="grupo">Grupo</label>
					        <select class="form-control" id="grupo" name="grupo" required aria-required="true">
					            <option value="">Selecione...</option>
					            <option value="ROLE_ADMIN">Administrador</option>
					            <option value="ROLE_ESTOQ">Estoquista</option>
					            <option value="ROLE_USER">Usuário</option>
					        </select>
					        <div class="invalid-feedback" id="grupoError" style="display: none;">
					            
					        </div>
					    </div>
					</div>
					<button type="submit" class="btn btn-primary" >Salvar</button>
					<button type="reset" class="btn btn-secondary">Limpar</button>
			    </form>
			</div>
	    </section>
	
	</div>
	
    <footer class="footer-edit">
        <div class="container">
            <span class="footer-copy">&copy; 2025 DevSoft. Todos os direitos reservados.</span>
        </div>
    </footer>	

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>		