<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
		layout:decorate="~{fragments/layout}">
<head>
    <title>RGDI Store - Cadastro de Usuários(ADMIN)</title>
</head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                    	<li class="nav-item active"><i class="fa-solid fa-caret-right me-1"></i><span class="me-2">Usuários</span></li>
	                        <li class="nav-item active"><i class="fa-solid fa-caret-right me-1"></i><span>Cadastro</span>
	                        </li>
	                    </ul>
	                </div>
	                <a class="btn btn-primary btn-md" href="/usuarios/listar" role="button">
	                    <span class="fa-solid fa-table-list me-2" title="Cadastro" aria-hidden="true"></span>
	                    <span>Listar Usuário</span>
	                </a>
	            </nav>
	        </div>
			
			<!-- form-group: removida no bootstrap 5xxx. No lugar posso usar: "mb-3". Usar criar meu "css próprio" -->
	        <div class="container container-admin" id="cadastro">
			    <!--  <form id="userForm" onsubmit="formUser(event)"> -->
			    <form th:action="@{/usuarios/salvar}" th:object="${dto}" method="POST">			    	
			        <div class="row">
					    <div class="mb-3 col-md-5">
					        <label for="nome">Nome</label>
					        <input type="text" class="form-control" id="nome" name="nome"
					        th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" th:value="*{nome}" />					       
					              <div class="invalid-feedback" th:text="${#fields.errors('nome')}"> 
					        </div>
					    </div>
					    <div class="mb-3 col-md-3">
					        <label for="cpf">CPF</label>
					        <input type="text" class="form-control" id="cpf" name="cpf" required aria-required="true" 
					        th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" th:value="*{cpf}"/>
					        <div class="invalid-feedback" th:text="${#fields.errors('cpf')}">
					            
					        </div>
					    </div>
					</div>
					<div class="row">
					    <div class="mb-3 col-md-6">
					        <label for="email">Email</label>
					        <input type="email" class="form-control" id="email" name="email" required aria-required="true" 
					        th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" th:value="*{email}"/>
					        <div class="invalid-feedback" th:text="${#fields.errors('email')}">
					            
					        </div>
					    </div>
					</div>
					<div class="row">
					    <div class="mb-3 col-md-3">
					        <label for="senha">Senha</label>
					        <input type="password" class="form-control" id="senha" name="senha" required aria-required="true" 
					        th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid' : ''" th:value="*{senha}"/>
					        <div class="invalid-feedback" th:text="${#fields.errors('senha')}">
					            
					        </div>
					    </div>
					    <div class="mb-3 col-md-3">
					        <label for="confirmasenha">Confirma Senha</label>
					        <input type="password" class="form-control" id="confirmasenha" name="confirmasenha" required aria-required="true" />					        
					        <div class="invalid-feedback" id="confirmSenhaError" style="display: none;">
					            
					        </div>
					    </div>
					</div>
					<div class="row">
					    <div class="mb-3 col-md-6">
					        <label for="grupo">Grupo</label>
					        <select class="form-control" id="grupo" name="grupo" required aria-required="true">
					            <option value="">Selecione...</option>
					            <option value="ROLE_ADMIN">Administrador</option>
					            <option value="ROLE_ESTOQ">Estoquista</option>
					        </select>
					        <div class="invalid-feedback" id="grupoError" style="display: none;">
					            
					        </div>
					    </div>
					</div>
					<button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-2"></i>Salvar</button>
					<button type="reset" class="btn btn-secondary">Limpar</button>
			    </form>
			</div>
	    </section>
</body>
</html>		