<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutcliente}">
<head>
    <title>RGDI Store - Pedidos do Cliente</title>
</head>
<body>
    <header layout:fragment="header">
        <div class="px-4 px-lg-5 ">
          <div class="text-center text-white flex-inline">
              <h3 class="fw-bolder">Pedidos do (a) Cliente</h3>
              <div th:if="${isClient}">
              <span><i class="fa-solid fa-caret-right"></i></span>
              <span class="mr-3" th:text="${userName}">Visitante</span>		        
              <span><i class="fa-solid fa-caret-left"></i></span>
        	  </div>
          </div>
        </div>
    </header>
    <section class="layout-content" layout:fragment="corpo">
    	<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="fa-solid fa-caret-right"></i>
						<span>Lista dos Pedidos</span>
					</li>
				</ul>
			</div>
		</nav>
	    <div class="container-fluid">
	    	<div th:if="${erro != null}" class="alert alert-danger">
			    <span th:text="${erro}"></span>
			</div>

		    <div>
				<div th:if="${pedidos != null}">
		            <div th:each="pedido : ${pedidos}" class="card mb-4">
		                <div class="card-header">
		                    <h5 class="card-title">Pedido #<span th:text="${pedido.id}"></span></h5>
		                    <p><strong>Status:</strong> <span th:text="${pedido.status.descricao}"></span></p>
		                </div>
		                <div class="card-body">
		                    <div class="row">
			                    <div class="col-sm-5">
			                    <p><strong>Data do Pedido:</strong> <span th:text="${pedido.dataCompra != null ? pedido.dataCompra.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : ''}">
			                    </span></p>
			                    </div>
			                    <div class="col-sm-5">
			                    <p><strong>Total do Pedido:</strong> R$ <span th:text="${#numbers.formatDecimal(pedido.valorTotal, 1, 2)}"></span></p>
			                    </div>
			                    <div class="col-sm-2">
			                    <!-- Link para detalhes do pedido -->
			                    <a th:href="@{/clientes/meus-pedidos/detalhes/{id}(id=${pedido.id})}" class="btn btn-primary">Ver Detalhes</a>
			                    </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		
		        <div th:if="${pedidos == null || pedidos.isEmpty()}">
		            <p class="alert alert-warning">Você ainda não fez nenhum pedido.</p>
		        </div>	        
		
		    </div>
		</div>
	</section>

</body>
</html>		