<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutcliente}">
<head>
    <title>RGDI Store - Pedido do Cliente</title>
</head>
<body>
    <header layout:fragment="header">
        <div class="px-4 px-lg-5 ">
          <div class="text-center text-white flex-inline">
              <h3 class="fw-bolder">Pedido do (a) Cliente - Finalizado</h3>
              <div th:if="${isClient}">
              <span><i class="fa-solid fa-caret-right"></i></span>
              <span class="mr-3" th:text="${userName}">Visitante</span>		        
              <span><i class="fa-solid fa-caret-left"></i></span>
        	  </div>
          </div>
        </div>
    </header>
    <section class="layout-content" layout:fragment="corpo">
    	<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="fa-solid fa-caret-right me-1"></i><span class="me-2">Carrinho</span>  
		                    <i class="fa-solid fa-caret-right me-1"></i><span class="me-2">Endereços de Entrega</span>
		                    <i class="fa-solid fa-caret-right me-1"></i><span class="me-2">Formas de Pagamento</span>
		                    <i class="fa-solid fa-caret-right me-1"></i><span class="me-2">Resumo do Pedido</span>
							<i class="fa-solid fa-caret-right me-1"></i><span>Pedido Finalizado</span>
					</li>
				</ul>
			</div>
		</nav>
	    <div class="container-fluid">
		    <div class="row justify-content-center">
		        <div class="col-lg-8 text-center">
		            <div th:if="${pedidos != null}">
		                <div th:each="pedido : ${pedidos}" class="card mb-4">
		                    <div class="card-body">
		                        <div class="d-flex justify-content-center gap-4 align-items-center mb-3">
								    <h5 class="mb-0">Pedido: <span th:text="${pedido.id}"></span></h5>
								    <h5 class="mb-0">Valor: R$ <span th:text="${#numbers.formatDecimal(pedido.valorTotal, 1, 'POINT', 2, 'COMMA')}"></span></h5>
								</div>
	
		                        <div th:if="${erro}" class="alert alert-danger" role="alert">
								    <h3 th:text="${erro}" class="mb-0"></h3>
								</div>
					            <div th:if="${sucesso}" class="alert alert-success" role="alert">
								    <h3 th:text="${sucesso}" class="mb-0"></h3>
								</div>
		                        <a class="btn btn-success" th:href="@{/pedidos/clientes/meus-pedidos}">
		                            <i class="fa-solid fa-box me-2"></i><span>Meus Pedidos</span>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

	</section>
</body>
</html>		