<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Imagem de Produto</title>
</head>
<body>
    <h1>Editar Imagem de Produto</h1>
    <form th:action="@{/product-images/update/{id}(id=${productImage.id})}" th:object="${productImage}" method="post">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" th:field="*{url}" />
        <label for="product">Produto:</label>
        <input type="text" id="product" name="product" th:field="*{product.name}" />
        <button type="submit">Atualizar</button>
    </form>
</body>
</html>