<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutcliente}">
<head>
    <title>RGDI Store - Cadastro de Cliente</title>
</head>
<body>
	<header layout:fragment="header">
        <div class="px-4 px-lg-5 ">
          <div class="text-center text-white flex-inline">
              <h3 class="fw-bolder">Área do Cliente - Cadastro</h3>
              <div th:if="${isClient}">
              <span><i class="fa-solid fa-caret-right"></i></span>
              <span class="mr-3" th:text="${userName}">Visitante</span>		        
              <span><i class="fa-solid fa-caret-left"></i></span>
        	  </div>
          </div>
        </div>
    </header>
    <section class="layout-content" layout:fragment="corpo">	
	    <!-- Formulário de Cadastro de Cliente -->	    
	    <div class="container formcadastro" id="cadastro">
	    <div th:if="${erro}" class="alert alert-danger alert-dismissible fade show" role="alert">
		    <span th:text="${erro}"></span>
		    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
		</div>
	        <form th:action="@{/clientes/noauth/salvar-cliente}" th:object="${cliente}" method="POST">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome"
                           th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" th:value="*{nome}" required />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" required aria-required="true"
                           th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" th:value="*{cpf}" 
                           data-mask="00000000000" data-mask-reverse="true"/>
                </div>

                <div class="mb-3 col-md-2">
                    <label for="dataNascimento">Dt Nascimento</label>
                    <input type="date" class="form-control" id="dataNascimento" name="dataNascimento"
                           th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'" th:value="*{dataNascimento}" />
                </div>

                <div class="mb-3 col-md-2">
                    <label for="genero">Genero</label>
                    <select class="form-control" id="genero" name="genero" required aria-required="true">
                        <option value="">Selecione...</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>
                        <option value="OUTRO">Outro</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required aria-required="true"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" th:value="*{email}" />
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-3">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" required aria-required="true"
                           th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid'" th:value="*{senha}" />
                </div>

                <div class="mb-3 col-md-3">
                    <label for="confirmaSenha">Confirma Senha</label>
                    <input type="password" class="form-control" id="confirmaSenha" name="confirmaSenha" required aria-required="true"
                    	   th:classappend="${confirmaSenhaError != null} ? 'is-invalid'" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i> Continuar</button>
            <button type="reset" class="btn btn-secondary"><i class="fa-solid fa-broom-wide"></i> Limpar</button>
        </form>
       </div>
	</section>

</body>
</html>		