<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutcliente}">
<head>
    <title>RGDI Store - Cadastro de Cliente</title>
</head>
<body>
	<header layout:fragment="header">
        <div class="px-4 px-lg-5 ">
          <div class="text-center text-white flex-inline">
              <h3 class="fw-bolder">Editar Cadastro</h3>
              <div th:if="${isClient}">
              <span><i class="fa-solid fa-caret-right"></i></span>
              <span class="mr-3" th:text="${userName}">Visitante</span>		        
              <span><i class="fa-solid fa-caret-left"></i></span>
        	  </div>
          </div>
        </div>
    </header>
    <section class="layout-content" layout:fragment="corpo">
    	<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="fa-solid fa-caret-right me-1"></i><span class="me-2">Meus Dados</span>
						<i class="fa-solid fa-caret-right me-1"></i><span class="me-2">Dados do Cliente</span>
						<i class="fa-solid fa-caret-right me-1"></i> <span>Alterar Dados</span>
					</li>
				</ul>
			</div>
		</nav>	    
	    <div th:if="${error}" class="alert alert-danger" role="alert">
		    <p th:text="${error}"></p>
		</div>
	    <div class="container formcadastro" id="cadastro">
	    	<div th:if="${erro}" class="alert alert-danger alert-dismissible fade show" role="alert">
			    <span th:text="${erro}"></span>
			    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
			</div>
	        <form th:action="@{/clientes/auth/update}" th:object="${cliente}" method="post">
		        <div class="row">
		            <div class="mb-3 col-md-6">
		                <label for="nome">Nome</label>
		                <input type="text" th:field="*{nome}" class="form-control"
		                       th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" required />
		                <div class="invalid-feedback" th:errors="*{nome}"></div>
		            </div>
		        </div>
		
		        <div class="row">
		            <div class="mb-3 col-md-3">
		                <label for="dataNascimento">Data de Nascimento</label>
		                <input type="date" th:field="*{dataNascimento}" class="form-control"
		                       th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'" />
		                <div class="invalid-feedback" th:errors="*{dataNascimento}"></div>
		            </div>
		
		            <div class="mb-3 col-md-3">
		                <label for="genero">Gênero</label>
		                <select th:field="*{genero}" class="form-control" required>
		                    <option value="">Selecione...</option>
		                    <option value="MASCULINO">Masculino</option>
		                    <option value="FEMININO">Feminino</option>
		                    <option value="OUTRO">Outro</option>
		                </select>
		                <div class="invalid-feedback" th:errors="*{genero}"></div>
		            </div>
		        </div>		
		        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-2"></i> Salvar</button>
		        <a th:href="@{/clientes/auth/detalhes-cliente}" class="btn btn-secondary ms-2">
		        <i class="fa-solid fa-ban me-2"></i>Cancelar</a>
	    	</form>
       </div>
	</section>

</body>
</html>		