<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutindex}">
<head>
  <title>Sessão Encerrada - Cliente</title>
</head>
<body>       
        <header class="bg-dark py-5" layout:fragment="header">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h3 class="fw-bolder">Sessão Encerrada - Cliente</h3>
                </div>
            </div>
        </header> 
		<section class="py-5" layout:fragment="corpo">	
			<div class="container-login-cliente ">
				<div class="row justify-content-center">
		            <div class="col-md-6">
		                <div class="alert alert-warning" role="alert">
		                    <h4 class="alert-heading">Sessão Expirada!</h4>
		                    <p>Sua sessão foi encerrada devido à inatividade ou você foi desconectado.</p>
		                    <hr>
		                    <p class="mb-0">Por favor, <a th:href="@{/clientes/login}" class="alert-link">faça login novamente</a> para continuar.</p>
		                </div>
		            </div>
		        </div>
   			 </div>	  
	  	</section>
</body>
</html>


