<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutcliente}">
<head>
    <title>RGDI Store - Cadastro de Endereco</title>
</head>
<body>
	<header layout:fragment="header">
        <div class="px-4 px-lg-5 ">
          <div class="text-center text-white flex-inline">
              <h3 class="fw-bolder">Área do Cliente - Cadastro Endereço</h3>
              <div th:if="${isClient}">
              <span><i class="fa-solid fa-caret-right"></i></span>
              <span class="mr-3" th:text="${userName}">Visitante</span>		        
              <span><i class="fa-solid fa-caret-left"></i></span>
        	  </div>
          </div>
        </div>
    </header>
    <section class="layout-content" layout:fragment="corpo">
	    <div class="container formcadastro" id="cadastro-endereco">
	
	        <form id="formFaturamento">
	            <input type="hidden" name="clienteId" th:value="${clienteId}" />
	            <h4>Endereço de Faturamento</h4>
	            <div th:object="${enderecoFaturamento}">
	                <input type="hidden" th:field="*{tipo}" th:value="'FATURAMENTO'"/>
	                <div class="row">
	                    <div class="mb-3 col-md-2">
	                        <label>CEP</label>
	                        <input type="text" class="form-control" th:field="*{cep}" id="cepFaturamento" required="required"
	                        data-mask="00000000"/>
	                    </div>
	                    <div class="mb-3 col-md-5">
	                        <label>Logradouro</label>
	                        <input type="text" class="form-control" th:field="*{logradouro}" id="logradouroFaturamento" required="required"/>
	                    </div>
	                    <div class="mb-3 col-md-2">
	                        <label>Número</label>
	                        <input type="text" class="form-control" th:field="*{numero}" id="numeroFaturamento" required="required"
	                        data-mask="000000"/>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="mb-3 col-md-4">
	                        <label>Complemento</label>
	                        <input type="text" class="form-control" th:field="*{complemento}" id="complementoFaturamento"/>
	                    </div>
	                    <div class="mb-3 col-md-5">
	                        <label>Bairro</label>
	                        <input type="text" class="form-control" th:field="*{bairro}" id="bairroFaturamento" required="required"/>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="mb-3 col-md-7">
	                        <label>Cidade</label>
	                        <input type="text" class="form-control" th:field="*{localidade}" id="cidadeFaturamento" required="required"/>
	                    </div>
	                    <div class="mb-3 col-md-2">
	                        <label>UF</label>
	                        <input type="text" class="form-control" th:field="*{uf}" id="ufFaturamento" required="required"
	                        data-mask="AA"/>
	                    </div>
	                </div>
	            </div>
	            <button type="submit" class="btn btn-primary" id="btnAdicionarEntrega">Endereço de entrega</button>
	        </form>
	
	        <hr />
	
	        <div id="enderecoEntregaSection">
	            <h4>Endereço de Entrega</h4>
	            <form th:action="@{/clientes/noauth/endereco-inicial/entrega}" method="POST">
	                <input type="hidden" name="clienteId" th:value="${clienteId}" />
	                <div class="form-check mb-3">
	                    <input type="checkbox" class="form-check-input" id="copiarEndereco" onclick="copiarEnderecoFaturamento()">
	                    <label class="form-check-label" for="copiarEndereco">
	                        Usar o mesmo endereço de faturamento
	                    </label>
	                </div>
	                <div th:object="${enderecoEntrega}">
	                    <input type="hidden" th:field="*{tipo}" th:value="'ENTREGA'"/>
	                    <div class="row">
	                        <div class="mb-3 col-md-2">
	                            <label>CEP</label>
	                            <input type="text" class="form-control" th:field="*{cep}" id="cepEntrega" required="required"
	                            data-mask="00000000"/>
	                        </div>
	                        <div class="mb-3 col-md-5">
	                            <label>Logradouro</label>
	                            <input type="text" class="form-control" th:field="*{logradouro}" id="logradouroEntrega" required="required"/>
	                        </div>
	                        <div class="mb-3 col-md-2">
	                            <label>Número</label>
	                            <input type="text" class="form-control" th:field="*{numero}" id="numeroEntrega" required="required"
	                            data-mask="000000"/>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="mb-3 col-md-4">
	                            <label>Complemento</label>
	                            <input type="text" class="form-control" th:field="*{complemento}" id="complementoEntrega"/>
	                        </div>
	                        <div class="mb-3 col-md-5">
	                            <label>Bairro</label>
	                            <input type="text" class="form-control" th:field="*{bairro}" id="bairroEntrega" required="required"/>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="mb-3 col-md-7">
	                            <label>Cidade</label>
	                            <input type="text" class="form-control" th:field="*{localidade}" id="cidadeEntrega" required="required"/>
	                        </div>
	                        <div class="mb-3 col-md-2">
	                            <label>UF</label>
	                            <input type="text" class="form-control" th:field="*{uf}" id="ufEntrega" required="required"
	                            data-mask="AA"/>
	                        </div>
	                    </div>
	                </div>
	                <button type="submit" class="btn btn-primary">Finalizar Cadastro</button>
	            </form>
	        </div>
	    </div>
	</section>

</body>
</html>		