<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Acesso Negado</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/error.ico"/>
</head>
<body class="d-flex align-items-center py-4 h-100">
	<main class="m-auto">
	    <div class="container">
	        <h2>Página genérica de erros - Loja</h2>
	        <p>Vem da classe CustomErrorController/ CustomAuthenticationFailureHandler</p>
	    </div>
    </main>
</body>
</html>
