<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Erro de Login</title>
    <link rel="icon" href="/image/error.ico"/>
</head>
<body class="d-flex align-items-center py-4 h-100">
	<main class="m-auto">
		<div class="container">
		    <h2>Acesso Negado - Cliente</h2>
		    <p>Seu Status está como inativo - Cliente</p>
		    <p>Solicite ao Administrador a alteração do seu Status</p>
		    <a href="/logout" class="btn btn-danger btn-lg d-block">   <i class="fa-solid fa-right-from-bracket"></i> <span>Sair</span></a>
	    </div>
    </main>
</body>
</html>