<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/frontadm.css">
    <title>Erro de Login</title>
    <link rel="icon" href="/image/error.ico"/>
</head>
<body class="d-flex align-items-center py-4 h-100">
	<main class="m-auto">
		<div class="container form-adm">
		    <h2>Acesso Negado - Cliente</h2>
		    <p>Você precisa primeiro se autenticar - Cliente</p>		    
		    <a href="/clientes/login" class="btn btn-dark btn-lg d-block mb-2"><i class="fa-solid fa-left-long"></i> <span>Voltar para o login</span></a>
	    </div>
    </main>
</body>
</html>