body{
	background-color: #fafafa;
}

/* Formulários */

a {
    color: #0d6efd;
    text-decoration: underline;
    font-weight: bold;
}

.form {
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: inline /* Oculta todos os formulários inicialmente */
}

.form.active {
    display: block; /* Exibe o formulário ativo */
}

.form h2 {
    /*color: #ff5100;*/
	color: #0d6efd;
    margin-bottom: 1.5rem;
}

.form span {
    color: #565c69;    
}

.cadastroCliente{
	padding-top: 0.5rem;
	text-align: right;
}

.form-input-container {
    margin-bottom: 1.5rem;
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.alert-danger {
    --bs-alert-color: #fff;
    --bs-alert-bg: #000;
}
