body{
	background-color: #fafafa;
}

/* Formulários */

a {
    color: #0d6efd;
    text-decoration: underline;
    font-weight: bold;
}

.container-login-cliente {
    display: flex;
    flex-direction: column; /* <-- ESSENCIAL */
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 1rem; /* opcional: espaço entre alerta e formulário */
}

.form {    
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: inline
}

.form.active {
    display: block; /* Exibe o formulário ativo */
}


.form span {
    color: #565c69;    
}

.cadastroCliente{
	padding-top: 0.5rem;
}

.form-input-container {    
	display: flex;
	flex-direction: column;
	gap: 10px; /* Espaçamento entre os campos */
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}


