/*
 * Base structure
 */
html, body {
	height: 100%;
}

body {
	padding-top: 56px;
	padding-left: 0;
} 

/*
 * main layout
 */
.layout-main {
    display: flex;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

/*
 * Content
 */
.layout-content {
    width: 100%;
    padding-top: 0px;
}

.container {
	width: 100%;
	padding-top: 20px;
}


/* Nav */
.navbar-header-rigth-custom> button{
	font-size: 1rem;
}

a.navbar-brand.navbar-brand-custom{
	font-size: 1rem;
}


/* Sidebar */
.sidebar {
    width: 0px;
    height: 100vh;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;    
    background-color: #f8f9fa;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.sidebar .nav {
	margin-bottom: 0px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
} 

.sidebar ul li:hover a, .menu ul li.active a{
    color: #777777;
}

.sidebar ul{
    list-style: none;
    padding: 10px 0px;
}

.sidebar ul li a{
    display: block;
    color:#1a1a1a;
    padding: 10px 15px;
    white-space: nowrap;
}

.sidebar.sidebar-open {
    width: 300px;
}


/* nav-pills home */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #1e94d2;
}

/* toogle do navbar do menu */ 

.navbar-toggle {
    display: inline-block;
    margin-left: 10px;
}

/* Footer */
.layout-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 50px;
	border-top: 1px solid #eeeeee;
}

.footer-copy {
	font-size: 92%;
	display: block;
	color: #777777;
	text-align: center;
}

/*font awesome*/
.fa-pen-to-square, .fa-eye {
  color: white;
}

.form-input{
	margin-top: 5px;
	margin-bottom: 15px;
}

.footer-edit{
	height: 80px;
}

.form-control {
  display: block;
  width: 100%; /* Ocupa 100% do contêiner */
  height: calc(1.5em + .75rem + 2px); /* Define a altura do campo */
  padding: .375rem .75rem; /* Espaçamento interno (superior/inferior e laterais) */
  font-size: 1rem; /* Tamanho da fonte */
  font-weight: 400; /* Peso da fonte (normal) */
  line-height: 1.5; /* Altura da linha */
  color: #495057; /* Cor do texto */
  background-color: #fff; /* Cor de fundo (branco) */
  background-clip: padding-box; /* Limita o fundo à área de preenchimento */
  border: 1px solid #ced4da; /* Borda padrão */
  border-radius: .25rem; /* Arredondamento das bordas */
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; /* Transições suaves */
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff; /* Cor da borda quando o campo está focado */
  outline: 0; /* Remove o contorno padrão */
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25); /* Adiciona um efeito ao redor do campo */
}

.is-invalid {
  border-color: #dc3545; /* Cor vermelha */
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,..."); /* Ícone para campo inválido */
  background-repeat: no-repeat;
  background-position: right calc(.375rem + .1875rem) center;
  background-size: calc(.75rem + .375rem) calc(.75rem + .375rem);
}

.error-message {
    font-size: 0.875rem;
    color: #dc3545; /* Vermelho para mensagens de erro */
    margin-top: 0.25rem;
}

.align-inline {
    display: flex; /*coloca os itens em linha*/
    align-items: center;
    gap: 10px; /*espaçamento entre os elementos*/
}

.updated {
    animation: none; /* Simplesmente para forçar o DOM a perceber a mudança */
}

.m3, .button-itens-prod{
	align-content: end;
}

.btn, .btn-primary, .btn-md, .btn-top{
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

.star {
	font-size: 1.1em;
    color: gold;
    }
