<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutindex}">
<head>
  <title>RGDI Store Loja</title>
</head>
    <body>       
        <header class="bg-dark py-5" layout:fragment="header">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white flex-inline">
                    <h3 class="fw-bolder">Seja Bem Vindo (a)</h3>
                    <div th:if="${isClient}">
		              <span><i class="fa-solid fa-caret-right"></i></span>
		              <a class="mr-3 link-cliente-usernme" th:text="${userName}" th:href="@{/clientes/auth/admin}">Visitante</a>
		              <span><i class="fa-solid fa-caret-left"></i></span>
		        	</div>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5" layout:fragment="corpo">
        	<div class="container ps-5">
        	<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<i class="fa-solid fa-caret-right"></i> <span>Home</span>			                    
						</li>
					</ul>
				</div>
			</nav>
			</div>
            <div class="container px-4 px-lg-5 mt-5">                
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                		<!-- th:if="${prod.status}" só lista produto ativo -->
                     <div class="col mb-5" th:each="prod, iterStat : ${produtos}" th:if="${prod.status}">
                		<div class="card h-100">
					    <!-- Product image-->					   
					    
					   <img th:src="@{${imagensPrincipais[prod.id].url}}" alt="Imagem do Produto" th:if="${imagensPrincipais[prod.id] != null}"/>
					
					    <!-- Product details-->
					    <div class="card-body p-4" >
					        <div class="text-center">
					            <!-- Product name-->
					            <h5 class="fw-bolder" th:text="${prod.nome}"></h5>
					
					            <!-- Product price-->
					            <span>R$</span> <span class="" th:text="${#numbers.formatDecimal(prod.preco, 1, 2)}"></span>
					
					            <!-- Product rating-->
					            <div>
						            <span th:each="i : ${#numbers.sequence(1, 5)}"
						                  th:classappend="${i <= prod.avaliacao} ? 'star' : ''">★
						            </span>
        						</div>
					            
					        </div>
					    </div>
					
					    <!-- Product actions-->
					    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
					        <div class="text-center">
					            <button type="button" class="btn btn-outline-dark mt-auto" 
					                    th:onclick="'openViewProdModal(' + ${prod.id} + ')'">
					                <span class="fa-regular fa-eye" title="Visualizar" aria-hidden="true"></span>
					                Ver Detalhes
					            </button>
					        </div>
					    </div>
					
					    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						    <div class="text-center">
						        <form th:action="@{/carrinho/adicionar}" method="post">
						            <input type="hidden" name="produtoId" th:value="${prod.id}" />
						            <button type="submit" class="btn btn-outline-dark mt-auto"
									        th:id="'btnComprar_' + ${prod.id}"
									        th:attr="data-quantidade=${prod.quantidade}">
									    Comprar
									</button>
						        </form>
						    </div>
						</div>
					</div>
                    </div>
                </div>
                
            </div>
            
            <!-- Modal Visualização -->
			<div class="modal fade" id="viewProdModal" tabindex="-1" aria-labelledby="viewProdModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h5 class="modal-title" id="viewProdModalLabel">Detalhes do Produto</h5>
			                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			            </div>
			            <div class="modal-body">
			                <input type="hidden" id="prodId">
			                <div class="row d-flex">
			                    <div class="col-md-5">
			                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
			                            <div class="carousel-inner" id="carouselImages">
			                                <!-- As imagens serão inseridas aqui -->
			                            </div>
			                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
			                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			                                <span class="visually-hidden">Previous</span>
			                            </button>
			                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
			                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
			                                <span class="visually-hidden">Next</span>
			                            </button>
			                        </div>
			                    </div>
			                    <div class="col-md-7">
			                        <p><strong>Nome:</strong> <span id="prodNome"></span></p>
			                        <p><strong>Descrição:</strong> <span id="prodDescricao"></span></p>
			                        <p><strong>Preço:</strong> <span id="prodPreco"></span></p>			                        
			                        <p><strong>Avaliação:</strong> <span id="prodAvaliacao"></span></p>
			                    </div>
			                </div>
			            </div>
			            <div class="modal-footer">
			                <form th:action="@{/carrinho/adicionar}" method="post">
			                    <input type="hidden" name="produtoId" id="modalProdutoId" />
			                    <button type="submit" class="btn btn-success mt-auto" id="modalComprarBtn">Comprar</button>
			                </form>
			                <!-- id="modalSemEstoqueBtn" javaScript que muda botão de produto sem estoque -->
			                <button type="button" class="btn btn-secondary mt-auto" id="modalSemEstoqueBtn" disabled style="display: none;">Sem Estoque</button>
			                <button type="button" class="btn btn-secondary mt-auto" data-bs-dismiss="modal">Fechar</button>
			            </div>
			        </div>
			    </div>
			</div>
        </section>
    </body>
</html>
