<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{fragments/layoutindex}">
<head>
  <title>Login Loja</title>
</head>
    <body>       
        <header class="bg-dark py-5" layout:fragment="header">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h3 class="fw-bolder">Login</h3>
                </div>
            </div>
        </header> 
		<section class="py-5" layout:fragment="corpo">	
			<div class="container-login-cliente ">
			<div th:if="${erro}" class="alert alert-danger alert-dismissible fade show" role="alert">
			    <span th:text="${erro}"></span>
			    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
			</div>    
			<!-- Formulário de Login -->
			<form class="form form-login" action="/clientes/login" method="post">
               
                <div class="form-input-container">
                    <input type="email" class="form-input" name="email" id="email" placeholder="Email" required>
					<input type="password" class="form-input" name="password" id="password" placeholder="Senha" required>

                </div>
                <button type="submit" class="btn btn-primary" >Entrar</button>
                <div class="cadastroCliente">                
                <span>Novo por aqui! </span><a th:href="@{/clientes/cadastrar}">
			            CADASTRE-SE
			        </a>
			    </div>
            </form>
            </div>	  
	  	</section>
</body>
</html>


