<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a th:href="@{/produtos/cadastrar}">Novo Produto</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${produtos}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.nome}"></td>
                <td th:text="${product.preco}"></td>
                <td th:text="${product.quantidade}"></td>
                <td>
                    <a th:href="@{/produtos/edit/{id}(id=${product.id})}">Editar</a>
                    <a th:href="@{/produtos/delete/{id}(id=${product.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>